{% extends 'layout.html.twig' %}
{% block title %}Gráficos de Gastos{% endblock %}

{% block content %}
    <div class="columns">
        <div class="column">
            <p class="panel-heading is-uppercase has-text-weight-bold has-text-white has-background-dark">{{ block('title') }}</p>
            <div class="panel-block is-block has-background-white">
                <form method="get" action="{{ route('charts.list') }}" class="form-inline text-center">
                    <div class="field is-horizontal">
                        <div class="field-body">
                            <div class="field">
                                <p class="control is-expanded has-icons-left">
                                    <input name="date_start" type="text" class="input is-large is-black" placeholder="Data Inicial (DD/MM/YYYY)" value="{{ 'now' | date_modify('-1 month') | date('d/m/Y') }}">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-calendar-alt"></i>
                                    </span>
                                </p>
                            </div>
                            <div class="field has-addons">
                                <div class="control is-expanded has-icons-left">
                                    <input name="date_end" type="text" class="input is-large is-black" placeholder="Data Final (DD/MM/YYYY)" value="{{ 'now' | date('d/m/Y') }}">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-calendar-alt"></i>
                                    </span>
                                </div>
                                <div class="control">
                                    <button type="submit" class="button is-dark is-large">
                                        <span class="icon">
                                            <i class="fas fa-search"></i>
                                        </span>
                                        <span>Filtrar</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-block is-block has-background-white">
                <div id="chart-div"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {packages: ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Categoria');
            data.addColumn('number', 'Valor Gasto');
            data.addRows([
                {% for category in categories %}
                    ['{{ category.name }}', {{ category.value | number_format(2, '.', '') }}],
                {% endfor %}
            ]);

            var chart = new google.visualization.PieChart(document.getElementById('chart-div'));
            chart.draw(data, {
                width: '100%',
                height: 300
            });
        }
    </script>
{% endblock %}